
body, html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

p {
    margin-left: 5%;
}


#resultats {

    position: absolute;
    top: 0px;
    right: 20px;
    background-color: gray;
    width: 20%;
    height: 100%;
}


/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {

   

}