@font-face {
    font-family: police1;
    src: url(fonts/Satoshi-Bold.otf);
}

@font-face {
    font-family: police2;
    src: url(fonts/Poppins-Regular.ttf);
}

body {
    background-color: black;
    color: white;
}

.leaflet-control-attribution{
    display: none;
}

#resultats {
    position: fixed;
    top:0px;
    right: 0px;
    z-index: 1000;
    background-color: black;
    width: 30%;
    height: 100%;
    padding-left:10px;
    padding-right:10px;   
}

#map {
    width: 100%;
    height: 600px;
    border-color: solid 4px white;
}


#img_lieux {
    display: inline-block;
    width: 100%;
}

.legende{
    font-size: 15px;
    font-style: italic;
    margin-bottom: 50px;
}
.legende span{
  text-decoration: underline;
}

h1 {
    font-family: police1;
    font-size: 3.5vw;
    margin-top: 0px;
    margin-bottom: 50px;
}

h4 {
    font-family: police1;
    font-size: 1.5vw;
}

h2 {
    font-family: police1;
    font-size: 2.5vw;
    margin-top: 100px;
}

p {
    font-family: police2;
    font-size: 20px;
    width: 60%;
}


#titre_marker {
    font-family: police2;
    margin: 0;
    

}


.img_map {
    width: 100%;
}



#ss_titre_marker {
    font-family: police2;
    margin: 0px;

}

#infos {
    font-family: police2;
}



#titre_marker {
    font-size: 20px;
    width: 100%;
}

#ss_titre_marker {
    font-size: 15px;
    
    width: 100%;
}

#infos{
    font-size: 15px;
    width: 100%;
}




/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {

   

}